<footer class="footer mt-auto py-4">
  <div class="container text-center">
    <div class="mb-2">
      <strong>Contact Us</strong><br>
      📞 <a href="tel:+2348123456789">+234 812 345 6789</a> |
      📧 <a href="mailto:support@itflog.ng">support@itflog.ng</a>
    </div>
    <div class="social-icons mb-2">
      <a href="https://facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/yourhandle" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/yourpage" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="text-muted small">
      &copy; <%= new Date().getFullYear() %> ITF Log System. All rights reserved.
    </div>
  </div>
</footer>
